@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html, body {
  overflow: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.test {
  color: rgba(141, 123, 21, 0.089);
  background: #2d3e50;
}